
<div class="jumbotron">
  <h1 class="display-4">Crypto Wallet</h1>
  <p class="lead">Bitcoin - Ethereum - Dashcoin - Iota - ZCash</p>
  <hr class="my-4">
  <p>Este é o crypto Wallet, um gerenciador de cryptoMoedas online.</p>
  <p class="lead">
  <%= render "menu" %>
  </p>
</div>

<p><%= l(Date.today) %></p>
